<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>data</key>
		<dict>
			<key>list</key>
			<array>
				<dict>
					<key>name</key>
					<string>爱情</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>lu</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>1931女子偶像组合</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>小虎队</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>Tfboys</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>如果·爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>张学友</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>A-LIn</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>和汇慧</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>吴若希</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱情</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>莫文蔚</string>
					<key>albumPic</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>爱</string>
					<key>songUrl</key>
					<string></string>
					<key>singer</key>
					<string>许巍</string>
					<key>albumPic</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
